<h1>Home page</h1>
<p><%= @message %></p>

<% @posts.each do |post| %>
    <h1><%= post.title %></h1>
    <h2><%= post.author.name %></h2>
    <p><%= post.body %></p>
    <%= link_to "Like", increment_async_path(post_id: post.id), method: :post, data: { turbolinks: false } %>

    Likes:
    <%= post.likes_count %> 
<% end %>
